
@{
    ViewBag.Title = "XacnhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XacnhanDonHang</h2>
<h3>Chúng tôi sẽ giao hàng cho bạn trong thời gian sớm nhất!!</h3>
<p>
    @Html.ActionLink("Về Trang Chủ", "Index", "Home")
</p>

